<%- include('partials/header', { title: 'Catways' }) %>
<div class="container text-center">
    <h1>Bienvenue dans l'API du Port de Plaisance Russel</h1>
</div>
<%- include('partials/catwaysNavbar') %> 
<div class="m-4">
    <% data.forEach(catway => { %>

  <div class="text-center text-white fs-5 bg-secondary p-2">
        <p> Id: <%= catway._id %></p>
        <p>Numéro du Catway: <%= catway.catwayNumber %></p>
        <p>Type de Catway: <%= catway.catwayType %></p>
        <p>Etat du Catway: <%= catway.catwayState %></p>
  </div>

<hr class="border border-primary border-1 opacity-50">

  <h5>Réserver le Catway</h5>
    <form action="/reservations/add?_method=PUT" method="POST">
        <input type="number" id="catwayNumber" name="catwayNumber" class="form-control" value="<%= catway.catwayNumber %>" hidden><br>
      <label for="clientName">Tapez le prénom et le nom du client</label><br>
        <input type="text" id="clientName" name="clientName" required><br>
      <label for="boateName">Tapez le nom du bateau</label><br>
        <input type="text" id="boatName" name="boatName" required><br>
      <label for="startDate">Tapez la date d'arrivée</label><br>
        <input type="datetime-local" id="startDate" name="startDate" required><br>
      <label for="endtDate">Tapez la date de départ</label><br>
        <input type="datetime-local" id="endDate" name="endDate" required><br><br>
        <button type="submit">RESERVER</button>
        <button type="reset">EFFACER</button>
    </form><br>

<hr class="border border-primary border-1 opacity-50">

      <legend><h5>Modifier l'état du Catway</h5></legend><br>
      <form action="/catways/<%= catway._id%>?_method=PATCH" method="POST">
          <textarea name="catwayState" id="catwayState" placeholder="Décrivez le nouvel état du Catway"></textarea><br>
        <button type="submit">MODIFIER</button>
      </form><br>

<hr class="border border-primary border-1 opacity-50">

      <form action="/catways/<%= catway._id%>?_method=DELETE" method="POST">
      <label for="delete"><h5>Supprimer le Catway</h5></label><br>
      <button type="submit" id="delete">SUPPRIMER</button>
      </form>

    <a href="/catwaysPage">Retour à la page des Catways</a><br>
    <a href="/home">Retour à la page d'accueil</a><br>

<hr class="border border-dark border-2 opacity-100">
<hr class="border border-dark border-2 opacity-100">

  <% }) %>
</div>

<%- include('partials/footer') %>

    
