<%- include('partials/header', { title: 'Catways' }) %>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-title">Catway Id: <%= oneCatway._id %></h6>
      <p class="card-text">Catway number: <%= oneCatway.catwayNumber %></p>
      <p class="card-text">Catway type: <%= oneCatway.catwayType %></p>
      <p class="card-text">Catway State: <%= oneCatway.catwayState %></p>
      <a href="/home" class="card-link">RETOUR</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>