<%- include('partials/header', { title: 'Reservations' }) %>
    <div class="container text-center">
        <h1>Bienvenue dans l'API du Port de Plaisance Russel</h1>
    </div>
    <%- include('partials/reservationsNavbar') %>

<div class="m-4">
    <% data.forEach(reservation => { %>
    <div class="text-center text-white fs-5 bg-secondary p-2">
        <p>Id: <%= reservation._id%></p>
        <p>Numéro du Catway: <%= reservation.catwayNumber %></p>
        <p>Nom du client: <%= reservation.clientName %></p>
        <p>Nom du bateau: <%= reservation.boatName %></p>
        <p>Date d'arrivée: <%= reservation.startDate %></p>
        <p>Date de départ: <%= reservation.endDate %></p>
    </div>

<hr class="border border-primary border-1 opacity-50">

    <h4>Modifier la réservation</h4>
    <form action="/reservations/<%= reservation._id%>?_method=PATCH" method="POST">
        <label for="Reservation Id">
            <input type="text" name="id" value="<%= reservation._id %>">
        </label><br>
        <label for="catwayNumber">Numéro du Catway</label><br>
            <input type="number" name="catwayNumber"><br>
        <label for="clientName">Modifier le nom du Client</label><br>
            <input type="text" name="clientName"><br>
        <label for="boatName">Modifier le nom du bateau</label><br>
            <input type="text" name="boatName" id="boatName"><br>
        <label for="startDate">Modifier la date d'arrivée</label><br>
            <input type="datetime-local" name="startDate"><br>
        <label for="endDate">Modifier la date de départ</label><br>
            <input type="datetime-local" name="endDate"><br><br>
        <button type="submit">MODIFIER</button>
        <button type="reset">EFFACER</button>
    </form><br><br>

<hr class="border border-primary border-1 opacity-50">

    <h4>Supprimer la réservation</h4>
    <form action="/reservations/<%= reservation._id %>?_method=DELETE" method="POST">
        <label for="delete">Supprimer la réservation</label><br>
        <button type="submit" id="delete">SUPPRIMER</button>
    </form><br><br>

    <a href="/reservationsPage">Retour à la page des réservations</a><br>
    <a href="/home">Retour à la page d'accueil</a>

<hr class="border border-dark border-2 opacity-100">

    <% }) %>
</div>        

<%- include('partials/footer') %>
